<form>
	<div class="form-group">
    <d3-bars data="userCircle" isName="false" label="name"></d3-bars>
  </div>	
	<div class="form-group">
    <label for="colors">Select your color</label>
    <div id="colors">
    	<d3-bars data="allCircle" label="name" on-click="allCircleClick(item)"></d3-bars>
    </div>
  </div>	
  <div class="form-group">
    <label for="name">Input name</label>
    <input type="text" class="form-control" id="name" ng-model="name">
  </div>
	<button class="btn btn-default" ng-click="send()">Submit</button>
</form>