<!DOCTYPE html>
<html>
  <head>
    <title><%= blocks.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= blocks.title %></h1>
    <p>Welcome to <%= blocks.title %></p>
    <%-body -%>
  </body>
</html>
